<div class="container">
    <h1>Sobre o Projeto</h1>
    <p>Este projeto foi idealizado e desenvolvido por <strong>Fellipe Pereira Pires</strong>, como parte de um teste prático para o <strong>CREA</strong> (Conselho Regional de Engenharia e Agronomia), com o objetivo de demonstrar habilidades técnicas e soluções inovadoras para desafios reais.</p>

    <p>O desenvolvimento foi conduzido pelo <strong>Departamento de Tecnologia da Informação</strong> do CREA, com a orientação e apoio de <strong>João André Zago</strong>, que forneceu as diretrizes necessárias para a criação da aplicação.</p>

    <p>Este teste prático tem como propósito avaliar a capacidade de integração de sistemas, a utilização de boas práticas de desenvolvimento, e a construção de uma solução robusta e eficiente.</p>
</div>
